:root {
  --main-background-color: rgb(33, 33, 33);
  --secondary-background-color: rgb(50, 50, 50);
  --secondary-front-color: rgb(13, 115, 119);
  --main-front-color: rgb(255, 255, 255);
  --curve-pixels: 25px;
}
html,
body {
  background-color: var(--main-background-color);
  color: #fefefe;
  margin: 0%;
  box-sizing: border-box;
}
/*Header Portion of the website*/
.website-index {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-top: 0%;
  margin-top: 0%;
}
.focused-index {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 3px;
  border-color: white;
  width: 60%;
  font-size: 40px;
  color: var(--secondary-front-color);
  background-color: var(--main-background-color);
}
.unfocused-index {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  width: 20%;
  font-size: 15px;
  color: var(--secondary-front-color);
  background-color: black;
  cursor: pointer;
  transition: width 0.5s;
}
.unfocused-index:hover {
  text-decoration: underline;
  width: 40%;
  transition: width 1s;
  background-color: #080808;
}
.gradient-on-image {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--curve-pixels);
  background: rgb(50, 50, 50);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.75) 37%,
    rgba(0, 0, 0, 0.2) 100%
  );
}
.project-card {
  background-color: var(--secondary-background-color);
  width: 300px;
  height: 250px;
  transition: width 1s, height 1s;
  transition-delay: width 1s, height 1s;
  border-radius: var(--curve-pixels);
  cursor: pointer;
}
.project-card:hover {
  width: 325px;
  height: 275px;
  transition: width 0.5s, height 0.5s;
  transition-delay: width 1s, height 1s;
}
.project-card h3 {
  flex-direction: row;
  justify-content: flex-end;
  font-size: 30px;
  width: 90%;
  margin: 0%;
  padding-left: 10px;
  padding-bottom: 20px;
  color: #0d7377;
  border-radius: 0px 0px var(--curve-pixels) var(--curve-pixels);
}
.no-style,
.no-style:hover,
.no-style:visited,
.no-style:focus,
.no-style:active {
  text-decoration: none;
  color: inherit;
}
.search-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #606060;
}
.search-bar input {
  width: 50%;
}
@media (max-width: 855px) {
  .search-bar button {
    width: 17%;
    height: 30px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bolder;
    border: 0px;
    margin-right: 10px;
    color: var(--secondary-front-color);
    background-color: black;
    cursor: pointer;
  }
}
@media (min-width: 856px) {
  .search-bar button {
    width: 7%;
    height: 30px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bolder;
    border: 0px;
    margin-right: 10px;
    color: var(--secondary-front-color);
    background-color: black;
    cursor: pointer;
  }
  .search-bar button:hover {
    background-color: #101010;
    color: #088f8f;
  }
}

input[type="text"],
textarea {
  background-color: #d1d1d1;
}

.tags {
  border-radius: 25px 25px 0px 0px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  font-size: 20px;
  margin-top: auto;
  padding-bottom: 10px;
  width: 100%;
  color: var(--main-front-color);
}
.project-listing {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

/*Welcome Index*/

.welcome-to-the-website {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: column;
}
@media (min-width: 588px) {
  .welcome-contents {
    display: "flex";
    flex-direction: column;
    margin-right: 40%;
  }
}
@media (max-width: 587px) {
  .welcome-contents {
    display: "flex";
    flex-direction: column;
  }
}
.to {
  height: 50px;
  font-size: 40px;
  transition: width 1s;
  border: 0;
  padding: 0;
  margin-bottom: 20px;
  color: var(--secondary-front-color);
  background-color: var(--main-background-color);
}
.the {
  height: 50px;
  font-size: 40px;
  transition: width 1.25s;
  border: 0;
  padding: 0;
  margin-bottom: 20px;
  color: var(--secondary-front-color);
  background-color: var(--main-background-color);
}
.website {
  height: 50px;
  font-size: 40px;
  transition: width 1.5s;
  border: 0;
  padding: 0;
  margin-bottom: 20px;
  color: var(--secondary-front-color);
  background-color: var(--main-background-color);
}
@media (min-width: 588px) {
  .contacts {
    margin-left: 40%;
    font-size: 30px;
  }
}
@media (max-width: 587px) {
  .contacts {
    margin-left: 0%;
    font-size: 30px;
  }
}
@media (max-width: 362px) {
  .contacts {
    margin-left: 0%;
    font-size: 25px;
  }
}
